<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
</head>
<body>
    {{ content }}

    <h2>Sections</h2>
    <ul>
      {% assign pages = site.pages %}
      {% for section in pages %}
        {% if section.extname == ".md" and section.path != page.path %}
          <li><a href="{{ section.url }}">{{ section.title | default: section.path }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
</body>
</html>
